<table border="1">
<tr>
<th>Avatar</th>
<th>Name</th>
</tr>
<% @users.each do |u| %>
<tr>
<td><%= gravatar_for u %></td>
<td><%= u.name %></td>
</tr>
<% end %>
</table>

<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

ul class="users">
 <%= render @user %>
   <li>
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
